Repository quicktype/quicktype, pull requests merged in 2018-03, with the labels that each got.

#613 Generate Alamofire response handlers for top-levels
  src/Language/Swift.ts
Labels: swift

#614 Alamofire polish
  src/Language/Swift.ts
Labels: swift

#629 Terser initialization of IsoDateTimeConverter
  src/Language/CSharp.ts
Labels: C#

#656 Add visibility option on Rust fields
  src/Language/Rust.ts
  test/languages.ts
Labels: enhancement, rust

#660 Tidier Types module
  src/ConvenienceRenderer.ts
  src/Language/Ruby/index.ts
Labels: ruby

#674 CLI Telemetry
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  package-lock.json
  package.json
  script/build.ts
  script/make-pkgs.sh
  script/quicktype
  src/cli/NodeIO.ts
  src/cli/analytics.ts
  src/cli/index.ts
  src/cli/storage.ts
  src/cli/telemetry.ts
  test/run-for-all.sh
  test/test.ts
  test/utils.ts
Labels: CLI
